# Python geçici dosyaları
__pycache__/
*.py[cod]
*$py.class

# Sanal ortam klasörleri (varsa)
venv/
env/
.env

# ArduPilot / Gazebo logları ve geçici dosyaları
logs/
terrain/
eeprom.bin
mav.parm
mav.tlog
mav.tlog.raw
giris.txt
